.challenge {
  &-section{
    background-color: #15a96a;

  }
  
  background-image: url("https://it-events.com/system/attachments/files/000/002/035/original/Elements.svg");
  background-repeat: no-repeat;
  background-position: right 38px bottom 101px;
  background-size: 406px 255px;
  &__title {
    margin-bottom: 24px;
  }
  .subtitle {
    &--tin {
      max-width: 600px;
    }
  }

  &__info {
    display: flex;
    margin-bottom: 24px;
    width: 572px;
    justify-content: space-between;
  }

  &__info-block {
    display: flex;
    align-items: center;
  }

  &__info-img {
    display: block;
    width: 68px;
    height: 62px;
    overflow: hidden;
    margin-right: 12px;
  }

  &__info-pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__info-text {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.66;
    letter-spacing: 0.1rem;
    color: #ffffff;

    span {
      display: block;
    }
  }
}
