.conf {
  &-section {
    background-color: #2f2f2f;
    transition-duration: .4s;

    &--hr
     {
      background-color: #f24944;
    }
    &--py{
      background-color: #316696;
    }
    &--ost {
      background-color: #36a9e1;
    }
    &--go {
      background-color: #2d396b;
    }
  }

  padding: 0 60px;
  padding-top: 88px;
  padding-bottom: 170px;

  &__title {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 96px;
    text-align: center;
  }



  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    &-line {
      position: absolute;
      content: "";
      display: block;
      width: 100px;
      height: 3px;
      background-color: #ffffff;
      top: 48px;
      transition-duration: .4s;
    }
    &-line-l {
      transform: translate(60%, -50%);
      right: 0;
    }
    &-line-r {
      transform: translate(-60%, -50%);
      left: 0;      
    }
  }
  &__item-elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    position: relative;
  }

  &__item-elem > * {
    filter: grayscale(100%);
  }
  &__name {
    font-size: 22px;
    font-weight: 500;
    transition-duration: .4s;
  }
  &__date {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 70px;
    transition-duration: .4s;
  }

  &__logo {
    width: 200px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 32px;
    opacity: 0.5;
    filter: grayscale(100%);
    transition-duration: .4s;
    &--filter {
      filter: brightness(0) invert(1) opacity(0.5)
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: contain;

  }

  &__btn {
    transition: 0.4s;
    font-size: 16px;
    letter-spacing: 0.1rem;
    padding: 12px 10px;
    background-color: #ffffff;    
    filter: grayscale(0);
    text-align: center;
    opacity: 0.5;

    &:hover {
      background-color: #fff000;
      color: #000000;
    }

    &--prev {
      background-color: #ed4963;      
      color: #ffffff;
    }

    &-hr--active {
      background-color: #080808;
      color: #ffffff;
    }
    &-py--active {
      background-color: #ffffff;
      color: #010812;
    }
    &-ost--active {
      background-color: #cb5b9e;
      color: #ffffff;
    }
    &-go--active {
      background-color: #9bd4f0;
      color: #010812;
    }
  }
  &--transparent-elem {
    opacity: 0.5;
  }
  &--hover-block-elem {
    opacity: 1;
    filter: none;
  }
}