.contacts {
  &-section {
    color: #ffffff;
    background-color: #070b11;
  }
  padding-bottom: 60px;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 32px;
    text-align: left;
  }
  &__content {
    display: flex;
  }
  &__col {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
    margin-right: 58px;
  }

  &__social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .socials__item {
      margin-right: 0;

      background-color: #373735;

      &:hover {
        background-color: #37373550;
      }
    }
  }
}
