.hero {
  // position: relative;

  &-wrapper {
    position: absolute;
    height: 480px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    // width: 100%;
  }
  // &__this {
  //   display: flex;
  //   width: 1280px;
  //   justify-content: center;
  //   align-items: center;
  //   margin: 0 auto;
  //   padding: 0 60px;
  // }
  &-section {
    padding: 0;
    // background-image: url("./../assets/img/bg_hero-section_2.png");
    // background-position: center center;
    // background-size: cover;
    height: 480px;
    overflow: hidden;
    position: relative;
  }
  // &-section--toggled {
  //   // background-image: url("./../assets/img/bg_hero-section_1.png");
  // }
  &__item {
    position: relative;
    width: 100%;
    min-height: 480px;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    color: #ffffff;
    padding: 0 60px;

    &.slick-slide {
      display: flex;
    }
  }

  // &__inner {
  //   width: 1280px;
  // //   position: absolute;
  // //   bottom: 100%;
  // //   z-index: 20;
  // }
  &__img {
    display: block;
    height: 238px;
    width: 238px;
    overflow: hidden;
    margin-right: 47px;
  }
  &__pic {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  &__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // padding: 0 323px;
    min-height: 480px;
    justify-content: center;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    overflow: hidden;
    &-pic {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__slider {
    max-height: 480px;
    // position: absolute;
    overflow: hidden;
    display: flex;
    // &--controls {
    //   position: absolute;
    //   top: 50%;
    //   right: 26px;
    //   transform: translateY(-50%);
    //   z-index: 10;
    // }
    // &--control {
    //   display: block;
    //   height: 42px;
    //   width: 3px;
    //   cursor: pointer;
    //   background-color: #ffffff;
    //   margin-bottom: 10px;
    // }

    &--active {
      background-color: #ff0000;
    }
  }
  // &__item {
  //   background: url("./../assets/img/IT_Cyber_Games.png") center center /
  //     cover;
  // }
  // &__item-chalange {
  //   background: url("./../assets/img/hero__tournaments.png") center center / cover;
  // }

  // &__content {
  //   color: #ffffff;
  //   padding: 0 60px;
  // }

  &__title {
    text-transform: uppercase;
    font-size: 43.5px;
    margin-bottom: 9px;
  }
  &__subtitle {
    margin-bottom: 24px;
    letter-spacing: 0.1rem;
  }

  .slick-dotted.slick-slider {
    //  Класс слйдера с точками
    margin-bottom: 0;
  }
  .slick-dots {
    //  контейнер с точками
    display: flex;
    flex-direction: column;
    width: 10px;
    position: absolute;
    top: 50%;
    // right: calc(50% - 640px);
    right: 50px;
    transform: translateY(-50%);
    bottom: auto;
  }

  .slick-dots li {
    // контейнер точки

    margin: 0;
    content: none;
    height: 42px;
    width: 3px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .slick-dots li button {
    // кнопка точки
    padding: 0;
    height: 42px;
    width: 3px;

    &::before {
      //  отображение точки
      display: block;
      height: 42px;
      width: 3px;
      content: "";
      cursor: pointer;
      background-color: #ffffff;
      opacity: 1;
    }
  }
  .slick-dots li.slick-active button:before {
    // Активная точка
    opacity: 1;
    background-color: #ff0000;
    color: black;
  }
}

.btn {
  display: block;
  padding: 12px 28px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.18rem;
  color: #010812;
  background-color: #f0f0f0;

  &:hover,
  &:active {
    background-color: #fff000;
  }

  &__hero-slider-l,
  &__hero-slider-r {
    position: absolute;
    top: 50%;
    display: block;
    height: 28px;
    width: 19px;
    overflow: hidden;
    cursor: pointer;
  }

  &__hero-slider-l {
    left: 10px;
    -webkit-animation-name: fadeInRIght;
    animation-name: fadeInRIght;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    &--disabled {
      -webkit-animation-name: fadeInLeft;
      animation-name: fadeInLeft;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }
  &__hero-slider-r {
    right: 10px;
    -webkit-animation-name: fadeInLeftR;
    animation-name: fadeInLeftR;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    &--disabled {
      -webkit-animation-name: fadeInRIghtR;
      animation-name: fadeInRIghtR;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }
}

// .fadeInLeft {
//   -webkit-animation-name: fadeInLeft;
//   animation-name: fadeInLeft;
//   -webkit-animation-duration: 1s;
//   animation-duration: 1s;
//   -webkit-animation-fill-mode: both;
//   animation-fill-mode: both;
// }
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, -50%, 0);
    transform: translate3d(-100%, -50%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, -50%, 0);
    transform: translate3d(-100%, -50%, 0);
  }
}

@keyframes fadeInRIght {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, -50%, 0);
    transform: translate3d(-100%, -50%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes fadeInLeftR {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, -50%, 0);
    transform: translate3d(100%, -50%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes fadeInRIghtR {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, -50%, 0);
    transform: translate3d(100%, -50%, 0);
  }
}

.sliderBg {
  height: 480px;
  width: 100%;
  overflow: hidden;
  &__pic {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(5px);
  }
}
