.projects {

  &-section {
    background-color: #ffffff;

  }
  display: flex;
  padding-top: 60px;
  padding-bottom: 79px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  &__title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.18rem;
    color: #ed4963;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__item {
    padding: 4px 12px;
    margin-right: 45px;
    white-space: nowrap;
    font-size: 17.5px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #19143a;
    text-transform: uppercase;
    position: relative;
    &:hover {
      background-color: #ed4963;
      color: #ffffff;
      border-radius: 25px;
    }

    &:last-child {
      &::before {
        content: none;
      }
    }
    &::before {
      margin-left: 21px;
      position: absolute;
      content: "";
      display: block;
      width: 27px;
      height: 3px;
      background-color: #ed4963;
      right: -8px;
      top: 50%;

      transform: translate(100%, -50%);
    }
  }
}
