.projects {
  display: flex;
  padding-top: 60px;
  padding-bottom: 79px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.18rem;
    color: #ed4963;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    font-size: 17.5px;
    font-weight: bold;
    letter-spacing: 1.58px;
    color: #19143a;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    position: relative;

    &:last-child {
      &::before {
        content: none;
      }
    }
    &::before {
      margin-left: 21px;
      position: absolute;
      content: "";
      display: block;
      width: 27px;
      height: 4px;
      background-color: #ed4963;
      right: -21px;
      top: 50%;

      transform: translate(100%, -50%);
    }
  }
}
