.projects {

  &-section {
    background-color: #ffffff;

  }
  display: flex;
  padding: 60px 48px;
  padding-bottom: 79px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  &__title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.18rem;
    color: #ed4963;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    
    // margin-right: 29px;
    position: relative;
    

    &:last-child {
      
    margin-right: 0;
      &::before {
        content: none;
      }
    }

    &::before {
      // margin-left: 11px;
      position: absolute;
      content: "";
      display: block;
      width: 16px;
      height: 2px;
      background-color: #ed4963;
      right: -16px;
      top: 50%;

      transform: translate(100%, -50%);
    }
  }

  &__link {
    padding: 4px 12px;
    display: block;    
    white-space: nowrap;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #19143a;
    text-transform: uppercase;
    &:hover {
      background-color: #ed4963;
      color: #ffffff;
      border-radius: 25px;
    }
  }
}
