.school {
  &-section {
    background-color: #bed2d6;
  }
  &__title {
    font-size: 36.5px;
    font-weight: bold;
    color: #c83131;
    &--sub {
      font-size: 14.5px;
      color: #4a4a4a;
    }
  }

  &__subtitle {
    color: #4a4a4a;
  }

  &__content {
    max-width: 896px;
  }

  &__btn {
    margin-right: 11px;
    &:hover {
      background-color: #c83131;
      color: #ffffff;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    .socials__item {
      background-color: #4a4a4a;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    
    &-item {
      &:hover,
      &:active {
        background-color: #c83131;
      }
    }
  }
}
