.sponsors__slider {
  display: flex;
  position: relative;
  right: 0;
  transition: right 0.3s;
  align-items: center;
}
.slider {
  display: flex;
  width: 1044px;
  overflow: hidden;
  margin: 0 40px;
}

.slider__list {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-right: -50px;
}
.slider__item {
  width: 168px;
  height: 50px;
  margin-right: 50px;
  filter: grayscale(50);
  &:hover {
    filter: grayscale(0);
  }
}

.sponsor__logo {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.arrow {
  display: block;
  height: 19px;
  width: 19px;
  overflow: hidden;

  &__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}