.WSB {
  &-section {
    background-color: #2b4c9a;
    color: #ffffff;
    background-image: url("https://it-events.com/system/attachments/files/000/002/034/original/bg_teamchallenge.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 520px 450px;
  
  }
  &__title {
    line-height: 1;
    margin-bottom: 44px;
  }

}
